<!-- Modal -->
<div class="modal fade" id="NewContact" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">New Chat</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @Html.Partial("_SerachBarPartial")
            <div class="modal-body list-group list-group-flush border-bottom scrollarea" id="contactarea" style="max-height:400px;">

                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm disabled">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <small class="text-body-secondary ">Enter the Email in the above search bar</small>
                    </div>
                </a>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Chat</button>*@
            </div>
        </div>
    </div>
</div>